* {
    font-family: Upgrade;
    color: #848484;
}

@font-face {
    font-family: 'parlanceregular';
    src: url('parlance-webfont.woff2') format('woff2'),
         url('parlance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav a {
 color: floralwhite;
 font-family: parlanceregular;
 letter-spacing: 1px;
 font-size: 13pt;
}

nav a:hover{
 color: lightpink;
}

.jumbotron {
    background: url(img/DesktopRebar-11.png) no-repeat center center local;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   height: 100vh;
}

#c {
    width: 35%;
    height: 70%;
}

svg{
    fill:#fff;
}
svg:hover{
    fill:#ffb6c1;
}

.embed-responsive-item {
    padding-top: -300%;
}