* {
    font-family: Upgrade;
    color: #848484;
}

@font-face {
    font-family: 'parlanceregular';
    src: url('parlance-webfont.woff2') format('woff2'),
         url('parlance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:hover{
    text-decoration: none;
}

nav a {
 color: floralwhite;
 font-family: parlanceregular;
 letter-spacing: 1px;
 font-size: 13pt;
}

nav a:hover{
 color: lightpink;
}

/*.jumbotron {
    background: url(img/DesktopRebar-11.png) no-repeat center center local;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   height: 100vh;
}*/

#c {
    background: url(img/Background-14.png) no-repeat center center local;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   height: 100vh;
   width: 100vw;
}

svg{
    fill:#fff;
}
svg:hover{
    fill:#ffb6c1;
}

.tryer {
  border: 5px solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 40px;
  padding: 5%;
  overflow: hidden;
  width: 40%;
  margin: 2.5%;
  transition: 
    all        .9s,
    border     0.3s .9s,
    box-shadow 0.3s 1.1s;
  white-space: nowrap;
  text-align: center;
    font-weight: bold;
}

.tryer:hover {
    background: #55706D;
    color: #FFE8A3;
    width: 45%;
    border: 10px solid #8DCCC4;
      box-shadow: 3px 3px 2px rgba(black, 0.15);
}

.buyer{
  border: 5px solid transparent;
  background: #ffAAB8;
  color: #884A4A;
  border-radius: 40px;
  padding: 5%;
  overflow: hidden;
  width: 40%;
  margin: 2.5%;
  transition: 
    all        .9s,
    border     0.3s .9s,
    box-shadow 0.3s 1.1s;
  white-space: nowrap;
  text-align: center;
    font-weight: bold; 
}
.mobilizer{
    margin-bottom: 8%;
}
.buyer:hover{
    background: #DD88A7;
    color: #FFEFAD;
    width: 45%;
    border: 10px solid #ffAAB8;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
}

.embed-responsive-item {
    padding-top: -300%;
}

#socialInline{
    display: none;
}

@media only screen and (max-width: 768px) {
    #socialFixed {
        display: none;
    }
    #socialInline {
        display: flex;
    }
    
    .mobilizer {
        margin-bottom: 35%;
    }
}